In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math
import datetime as dt

In [ ]:
md = "ADJ_CLOSE.csv"
dsi_range = ["1991-01-01", "2020-12-31"] # DSI is calculated from 1991 to 2020
sim_range = ["1990-01-01", "2010-12-31"] # simulation uses data from 1990 to 2010
val_range = ["2010-01-01", "2020-12-31"] # validation uses data from 2010 t0 2020

In [ ]:
df = pd.read_csv(md, usecols = ['Date','vix'])
df

In [ ]:
df["Date"] = pd.to_datetime(df["Date"])

In [ ]:
df['Year_Month'] = df["Date"].dt.to_period('M')
df = df.set_index("Year_Month")

In [ ]:
df

In [ ]:
#get rolling median vix for the past 12 months
vix_median = df.groupby([df.index.year]).median().shift(periods=1,fill_value=0)

In [ ]:
#convert 
vix_Dict = dict(vix_median.iloc[:,-1])

In [ ]:
df["HVM-12"] = df.index.year.map(vix_Dict)

In [ ]:
conditions = [(df["vix"] > df["HVM-12"]),(df["vix"] < df["HVM-12"])]
val = ["Fearful","Greedy"]

df["DSI"] = np.select(conditions,val)

In [ ]:
df = df["1991":]
df

In [ ]:
ftd = df.groupby(df['Date'].dt.to_period('M')).min()
ftd = ftd[["Date"]].rename(columns={"Date":"FTD"})
ftd

In [ ]:
ltd = df.groupby(df['Date'].dt.to_period('M')).max()
ltd = ltd[["Date"]].rename(columns={"Date":"LTD"})
ltd

In [ ]:
interim_df = df.groupby(["Year_Month","DSI"]).size().to_frame()
interim_df2 = interim_df.reset_index()
months = interim_df2["Year_Month"].unique()
interim_df["MSI"] = 0

In [ ]:
iterr=0
for i in months:
    iterr+=1
    if interim_df.loc[i,0].index[0] == "Fearful" and interim_df.loc[i,0].index[-1]=="Greedy":
        #get number of fearful in each month
        x = interim_df.loc[i,0][0]
        #get number of greedy 
        y = interim_df.loc[i,0][1]
        
        if x>y:
            interim_df.loc[i,["MSI"]] = "Fearful"
        else:
            interim_df.loc[i,["MSI"]] = "Greedy"
        
    elif interim_df.loc[i,0].index[0] == "Fearful" and interim_df.loc[i,0].index[-1]=="Fearful":
            #only fearful
        interim_df.loc[i,["MSI"]] = "Fearful"
    
    else:
        #only greedy
        interim_df.loc[i,["MSI"]] = "Greedy"

In [ ]:
interim_df3 = interim_df.reset_index()
interim_df3 = interim_df3[["Year_Month","MSI"]].groupby(["Year_Month"]).first()

In [ ]:
df2 = pd.concat([ltd,ftd,interim_df3],axis=1)
df2.set_index("LTD",inplace=True)
df2["FTD"] = df2[["FTD"]].shift(-1)
df2

In [ ]:
p = df.set_index("Date")
p["MSI"] = 0
p["TS"] = 0
p

In [ ]:
#input Greedy/Fearful on last trading days
def inputMSI(p,q):
    for i in q.index:
        p.loc[i,"MSI"] = q.loc[i,"MSI"]
    return p

In [ ]:
inputMSI(p,df2)

In [ ]:
#Add buy/sell signal
def signal(x,y):
    for i in x.index:
        if i < y.index[-1]:
            if y.loc[i,"MSI"]=="Fearful":
                y.loc[(x.loc[i,"FTD"]),"TS"] = "Buy"
            else:
                y.loc[(x.loc[i,"FTD"]),"TS"] = "Sell"
                
    return y

In [ ]:
TS = signal(df2,p)

In [ ]:
TS = TS.loc[TS.TS!=0]
TS

In [309]:
TS.loc["1997-06-02"]

vix         20.85
HVM-12     16.245
DSI       Fearful
MSI             0
TS            Buy
Name: 1997-06-02 00:00:00, dtype: object

In [ ]:
stocks = pd.read_csv(md).drop("vix",axis=1)
stocks["Date"] = pd.to_datetime(stocks["Date"])
stocks = stocks.set_index("Date")
stocks = stocks[sim_range[0]:sim_range[1]]

In [ ]:
stocks

In [ ]:
ticker = stocks.columns

In [ ]:
stocks = stocks.loc[stocks.index.isin(TS.index)].join(TS)

In [ ]:
stocks

In [302]:
def simulation(capital:float,stocks,ticker):
    x=[]
    
    for i in ticker:
        row=0
        stock_qty = 0
        cost = 0
        running_bal = capital
        PL = 0
        
        for date in stocks.index:
            row+=1
            if np.isnan(stocks.loc[date,i]):
                pass
            else:
                price = stocks.loc[date,i]
                
                if stocks.loc[date,"TS"] == "Buy" and (sim.loc[date:,"TS"].isin(["Sell"]).any()) and stock_qty == 0:
                    stock_qty = math.floor(running_bal/price)
                    cost = round(stock_qty*price,3)
                    running_bal = round(running_bal - cost,3)
            
                elif stocks.loc[date,"TS"] == "Sell" and stock_qty!=0:
                    value = stock_qty*price
                    running_bal = round(running_bal + value,3)
                    stock_qty = 0
        
        
            print("row:",row,"qty:",stock_qty,"cost:",cost,"bal:",running_bal,stocks.loc[date,"TS"])
        PL = running_bal - capital
        x.append(PL)
    
    return x

In [285]:
x = simulation(10000,stocks,ticker)

In [301]:
strategyDF = pd.DataFrame(x,columns=["P&L"])
strategyDF = strategyDF.sort_values("P&L",ascending=False)

In [304]:
test = simulation(10000,stocks,[Top5[0]])

row: 1 qty: 0 cost: 0 bal: 10000 Buy
row: 2 qty: 0 cost: 0 bal: 10000 Sell
row: 3 qty: 0 cost: 0 bal: 10000 Sell
row: 4 qty: 0 cost: 0 bal: 10000 Sell
row: 5 qty: 0 cost: 0 bal: 10000 Sell
row: 6 qty: 0 cost: 0 bal: 10000 Sell
row: 7 qty: 0 cost: 0 bal: 10000 Sell
row: 8 qty: 0 cost: 0 bal: 10000 Sell
row: 9 qty: 0 cost: 0 bal: 10000 Sell
row: 10 qty: 0 cost: 0 bal: 10000 Sell
row: 11 qty: 0 cost: 0 bal: 10000 Sell
row: 12 qty: 0 cost: 0 bal: 10000 Sell
row: 13 qty: 0 cost: 0 bal: 10000 Buy
row: 14 qty: 0 cost: 0 bal: 10000 Sell
row: 15 qty: 0 cost: 0 bal: 10000 Sell
row: 16 qty: 0 cost: 0 bal: 10000 Sell
row: 17 qty: 0 cost: 0 bal: 10000 Sell
row: 18 qty: 0 cost: 0 bal: 10000 Sell
row: 19 qty: 0 cost: 0 bal: 10000 Sell
row: 20 qty: 0 cost: 0 bal: 10000 Sell
row: 21 qty: 0 cost: 0 bal: 10000 Sell
row: 22 qty: 0 cost: 0 bal: 10000 Sell
row: 23 qty: 0 cost: 0 bal: 10000 Sell
row: 24 qty: 0 cost: 0 bal: 10000 Sell
row: 25 qty: 0 cost: 0 bal: 10000 Sell
row: 26 qty: 0 cost: 0 bal: 10000 Sell
row: 27 qty: 0 cost: 0 bal: 10000 Sell
row: 28 qty: 0 cost: 0 bal: 10000 Sell
row: 29 qty: 0 cost: 0 bal: 10000 Sell
row: 30 qty: 0 cost: 0 bal: 10000 Sell
row: 31 qty: 0 cost: 0 bal: 10000 Sell
row: 32 qty: 0 cost: 0 bal: 10000 Sell
row: 33 qty: 0 cost: 0 bal: 10000 Sell
row: 34 qty: 0 cost: 0 bal: 10000 Sell
row: 35 qty: 0 cost: 0 bal: 10000 Sell
row: 36 qty: 0 cost: 0 bal: 10000 Sell
row: 37 qty: 0 cost: 0 bal: 10000 Sell
row: 38 qty: 0 cost: 0 bal: 10000 Buy
row: 39 qty: 0 cost: 0 bal: 10000 Buy
row: 40 qty: 0 cost: 0 bal: 10000 Buy
row: 41 qty: 0 cost: 0 bal: 10000 Sell
row: 42 qty: 0 cost: 0 bal: 10000 Buy
row: 43 qty: 0 cost: 0 bal: 10000 Sell
row: 44 qty: 0 cost: 0 bal: 10000 Sell
row: 45 qty: 0 cost: 0 bal: 10000 Buy
row: 46 qty: 0 cost: 0 bal: 10000 Buy
row: 47 qty: 0 cost: 0 bal: 10000 Buy
row: 48 qty: 0 cost: 0 bal: 10000 Buy
row: 49 qty: 0 cost: 0 bal: 10000 Sell
row: 50 qty: 0 cost: 0 bal: 10000 Sell
row: 51 qty: 0 cost: 0 bal: 10000 Sell
row: 52 qty: 0 cost: 0 bal: 10000 Sell
row: 53 qty: 0 cost: 0 bal: 10000 Sell
row: 54 qty: 0 cost: 0 bal: 10000 Sell
row: 55 qty: 0 cost: 0 bal: 10000 Sell
row: 56 qty: 0 cost: 0 bal: 10000 Sell
row: 57 qty: 0 cost: 0 bal: 10000 Sell
row: 58 qty: 0 cost: 0 bal: 10000 Buy
row: 59 qty: 0 cost: 0 bal: 10000 Sell
row: 60 qty: 0 cost: 0 bal: 10000 Sell
row: 61 qty: 0 cost: 0 bal: 10000 Buy
row: 62 qty: 0 cost: 0 bal: 10000 Buy
row: 63 qty: 0 cost: 0 bal: 10000 Buy
row: 64 qty: 0 cost: 0 bal: 10000 Buy
row: 65 qty: 0 cost: 0 bal: 10000 Buy
row: 66 qty: 0 cost: 0 bal: 10000 Buy
row: 67 qty: 0 cost: 0 bal: 10000 Buy
row: 68 qty: 0 cost: 0 bal: 10000 Buy
row: 69 qty: 0 cost: 0 bal: 10000 Buy
row: 70 qty: 0 cost: 0 bal: 10000 Buy
row: 71 qty: 0 cost: 0 bal: 10000 Buy
row: 72 qty: 0 cost: 0 bal: 10000 Buy
row: 73 qty: 0 cost: 0 bal: 10000 Buy
row: 74 qty: 0 cost: 0 bal: 10000 Buy
row: 75 qty: 0 cost: 0 bal: 10000 Buy
row: 76 qty: 0 cost: 0 bal: 10000 Buy
row: 77 qty: 6620 cost: 9998.96 bal: 1.04 Buy
row: 78 qty: 6620 cost: 9998.96 bal: 1.04 Buy
row: 79 qty: 6620 cost: 9998.96 bal: 1.04 Buy
row: 80 qty: 6620 cost: 9998.96 bal: 1.04 Buy
row: 81 qty: 6620 cost: 9998.96 bal: 1.04 Buy
row: 82 qty: 6620 cost: 9998.96 bal: 1.04 Buy
row: 83 qty: 6620 cost: 9998.96 bal: 1.04 Buy
row: 84 qty: 6620 cost: 9998.96 bal: 1.04 Buy
row: 85 qty: 6620 cost: 9998.96 bal: 1.04 Buy
row: 86 qty: 0 cost: 9998.96 bal: 42065.625 Sell
row: 87 qty: 0 cost: 9998.96 bal: 42065.625 Sell
row: 88 qty: 5341 cost: 42060.375 bal: 5.25 Buy
row: 89 qty: 0 cost: 42060.375 bal: 38115.512 Sell
row: 90 qty: 2003 cost: 38098.727 bal: 16.785 Buy
row: 91 qty: 0 cost: 38098.727 bal: 36154.246 Sell
row: 92 qty: 2713 cost: 36152.14 bal: 2.106 Buy
row: 93 qty: 2713 cost: 36152.14 bal: 2.106 Buy
row: 94 qty: 2713 cost: 36152.14 bal: 2.106 Buy
row: 95 qty: 2713 cost: 36152.14 bal: 2.106 Buy
row: 96 qty: 2713 cost: 36152.14 bal: 2.106 Buy
row: 97 qty: 2713 cost: 36152.14 bal: 2.106 Buy
row: 98 qty: 2713 cost: 36152.14 bal: 2.106 Buy
row: 99 qty: 2713 cost: 36152.14 bal: 2.106 Buy
row: 100 qty: 2713 cost: 36152.14 bal: 2.106 Buy
row: 101 qty: 2713 cost: 36152.14 bal: 2.106 Buy
row: 102 qty: 0 cost: 36152.14 bal: 166003.794 Sell
row: 103 qty: 0 cost: 36152.14 bal: 166003.794 Sell
row: 104 qty: 2788 cost: 165973.125 bal: 30.669 Buy
row: 105 qty: 2788 cost: 165973.125 bal: 30.669 Buy
row: 106 qty: 2788 cost: 165973.125 bal: 30.669 Buy
row: 107 qty: 0 cost: 165973.125 bal: 237010.669 Sell
row: 108 qty: 0 cost: 165973.125 bal: 237010.669 Sell
row: 109 qty: 0 cost: 165973.125 bal: 237010.669 Sell
row: 110 qty: 0 cost: 165973.125 bal: 237010.669 Sell
row: 111 qty: 0 cost: 165973.125 bal: 237010.669 Sell
row: 112 qty: 3954 cost: 236992.875 bal: 17.794 Buy
row: 113 qty: 3954 cost: 236992.875 bal: 17.794 Buy
row: 114 qty: 0 cost: 236992.875 bal: 146315.794 Sell
row: 115 qty: 0 cost: 236992.875 bal: 146315.794 Sell
row: 116 qty: 0 cost: 236992.875 bal: 146315.794 Sell
row: 117 qty: 0 cost: 236992.875 bal: 146315.794 Sell
row: 118 qty: 3914 cost: 146285.75 bal: 30.044 Buy
row: 119 qty: 3914 cost: 146285.75 bal: 30.044 Buy
row: 120 qty: 3914 cost: 146285.75 bal: 30.044 Buy
row: 121 qty: 3914 cost: 146285.75 bal: 30.044 Buy
row: 122 qty: 0 cost: 146285.75 bal: 40882.419 Sell
row: 123 qty: 4492 cost: 40877.202 bal: 5.217 Buy
row: 124 qty: 4492 cost: 40877.202 bal: 5.217 Buy
row: 125 qty: 0 cost: 40877.202 bal: 76144.62 Sell
row: 126 qty: 0 cost: 40877.202 bal: 76144.62 Sell
row: 127 qty: 0 cost: 40877.202 bal: 76144.62 Sell
row: 128 qty: 0 cost: 40877.202 bal: 76144.62 Sell
row: 129 qty: 12669 cost: 76140.693 bal: 3.927 Buy
row: 130 qty: 12669 cost: 76140.693 bal: 3.927 Buy
row: 131 qty: 12669 cost: 76140.693 bal: 3.927 Buy
row: 132 qty: 12669 cost: 76140.693 bal: 3.927 Buy
row: 133 qty: 0 cost: 76140.693 bal: 173949.291 Sell
row: 134 qty: 0 cost: 76140.693 bal: 173949.291 Sell
row: 135 qty: 0 cost: 76140.693 bal: 173949.291 Sell
row: 136 qty: 0 cost: 76140.693 bal: 173949.291 Sell
row: 137 qty: 0 cost: 76140.693 bal: 173949.291 Sell
row: 138 qty: 12837 cost: 173941.352 bal: 7.939 Buy
row: 139 qty: 12837 cost: 173941.352 bal: 7.939 Buy
row: 140 qty: 12837 cost: 173941.352 bal: 7.939 Buy
row: 141 qty: 12837 cost: 173941.352 bal: 7.939 Buy
row: 142 qty: 12837 cost: 173941.352 bal: 7.939 Buy
row: 143 qty: 12837 cost: 173941.352 bal: 7.939 Buy
row: 144 qty: 12837 cost: 173941.352 bal: 7.939 Buy
row: 145 qty: 0 cost: 173941.352 bal: 284475.857 Sell
row: 146 qty: 13043 cost: 284467.823 bal: 8.034 Buy
row: 147 qty: 13043 cost: 284467.823 bal: 8.034 Buy
row: 148 qty: 0 cost: 284467.823 bal: 373820.412 Sell
row: 149 qty: 0 cost: 284467.823 bal: 373820.412 Sell
row: 150 qty: 0 cost: 284467.823 bal: 373820.412 Sell
row: 151 qty: 0 cost: 284467.823 bal: 373820.412 Sell
row: 152 qty: 0 cost: 284467.823 bal: 373820.412 Sell
row: 153 qty: 0 cost: 284467.823 bal: 373820.412 Sell
row: 154 qty: 0 cost: 284467.823 bal: 373820.412 Sell
row: 155 qty: 0 cost: 284467.823 bal: 373820.412 Sell
row: 156 qty: 0 cost: 284467.823 bal: 373820.412 Sell
row: 157 qty: 0 cost: 284467.823 bal: 373820.412 Sell
row: 158 qty: 0 cost: 284467.823 bal: 373820.412 Sell
row: 159 qty: 0 cost: 284467.823 bal: 373820.412 Sell
row: 160 qty: 0 cost: 284467.823 bal: 373820.412 Sell
row: 161 qty: 0 cost: 284467.823 bal: 373820.412 Sell
row: 162 qty: 0 cost: 284467.823 bal: 373820.412 Sell
row: 163 qty: 0 cost: 284467.823 bal: 373820.412 Sell
row: 164 qty: 0 cost: 284467.823 bal: 373820.412 Sell
row: 165 qty: 0 cost: 284467.823 bal: 373820.412 Sell
row: 166 qty: 0 cost: 284467.823 bal: 373820.412 Sell
row: 167 qty: 0 cost: 284467.823 bal: 373820.412 Sell
row: 168 qty: 0 cost: 284467.823 bal: 373820.412 Sell
row: 169 qty: 0 cost: 284467.823 bal: 373820.412 Sell
row: 170 qty: 0 cost: 284467.823 bal: 373820.412 Sell
row: 171 qty: 0 cost: 284467.823 bal: 373820.412 Sell
row: 172 qty: 0 cost: 284467.823 bal: 373820.412 Sell
row: 173 qty: 0 cost: 284467.823 bal: 373820.412 Sell
row: 174 qty: 0 cost: 284467.823 bal: 373820.412 Sell
row: 175 qty: 0 cost: 284467.823 bal: 373820.412 Sell
row: 176 qty: 0 cost: 284467.823 bal: 373820.412 Sell
row: 177 qty: 0 cost: 284467.823 bal: 373820.412 Sell
row: 178 qty: 0 cost: 284467.823 bal: 373820.412 Sell
row: 179 qty: 0 cost: 284467.823 bal: 373820.412 Sell
row: 180 qty: 0 cost: 284467.823 bal: 373820.412 Sell
row: 181 qty: 0 cost: 284467.823 bal: 373820.412 Sell
row: 182 qty: 0 cost: 284467.823 bal: 373820.412 Sell
row: 183 qty: 0 cost: 284467.823 bal: 373820.412 Sell
row: 184 qty: 0 cost: 284467.823 bal: 373820.412 Sell
row: 185 qty: 10659 cost: 373811.127 bal: 9.285 Buy
row: 186 qty: 10659 cost: 373811.127 bal: 9.285 Buy
row: 187 qty: 10659 cost: 373811.127 bal: 9.285 Buy
row: 188 qty: 0 cost: 373811.127 bal: 338539.127 Sell
row: 189 qty: 0 cost: 373811.127 bal: 338539.127 Sell
row: 190 qty: 0 cost: 373811.127 bal: 338539.127 Sell
row: 191 qty: 0 cost: 373811.127 bal: 338539.127 Sell
row: 192 qty: 0 cost: 373811.127 bal: 338539.127 Sell
row: 193 qty: 0 cost: 373811.127 bal: 338539.127 Sell
row: 194 qty: 0 cost: 373811.127 bal: 338539.127 Sell
row: 195 qty: 8375 cost: 338517.485 bal: 21.642 Buy
row: 196 qty: 8375 cost: 338517.485 bal: 21.642 Buy
row: 197 qty: 8375 cost: 338517.485 bal: 21.642 Buy
row: 198 qty: 8375 cost: 338517.485 bal: 21.642 Buy
row: 199 qty: 8375 cost: 338517.485 bal: 21.642 Buy
row: 200 qty: 8375 cost: 338517.485 bal: 21.642 Buy
row: 201 qty: 8375 cost: 338517.485 bal: 21.642 Buy
row: 202 qty: 8375 cost: 338517.485 bal: 21.642 Buy
row: 203 qty: 8375 cost: 338517.485 bal: 21.642 Buy
row: 204 qty: 8375 cost: 338517.485 bal: 21.642 Buy
row: 205 qty: 8375 cost: 338517.485 bal: 21.642 Buy
row: 206 qty: 8375 cost: 338517.485 bal: 21.642 Buy
row: 207 qty: 8375 cost: 338517.485 bal: 21.642 Buy
row: 208 qty: 8375 cost: 338517.485 bal: 21.642 Buy
row: 209 qty: 8375 cost: 338517.485 bal: 21.642 Buy
row: 210 qty: 8375 cost: 338517.485 bal: 21.642 Buy
row: 211 qty: 8375 cost: 338517.485 bal: 21.642 Buy
row: 212 qty: 8375 cost: 338517.485 bal: 21.642 Buy
row: 213 qty: 8375 cost: 338517.485 bal: 21.642 Buy
row: 214 qty: 8375 cost: 338517.485 bal: 21.642 Buy
row: 215 qty: 8375 cost: 338517.485 bal: 21.642 Buy
row: 216 qty: 8375 cost: 338517.485 bal: 21.642 Buy
row: 217 qty: 8375 cost: 338517.485 bal: 21.642 Buy
row: 218 qty: 8375 cost: 338517.485 bal: 21.642 Buy
row: 219 qty: 8375 cost: 338517.485 bal: 21.642 Buy
row: 220 qty: 8375 cost: 338517.485 bal: 21.642 Buy
row: 221 qty: 8375 cost: 338517.485 bal: 21.642 Buy
row: 222 qty: 8375 cost: 338517.485 bal: 21.642 Buy
row: 223 qty: 8375 cost: 338517.485 bal: 21.642 Buy
row: 224 qty: 0 cost: 338517.485 bal: 662986.673 Sell
row: 225 qty: 0 cost: 338517.485 bal: 662986.673 Sell
row: 226 qty: 0 cost: 338517.485 bal: 662986.673 Sell
row: 227 qty: 0 cost: 338517.485 bal: 662986.673 Sell
row: 228 qty: 0 cost: 338517.485 bal: 662986.673 Sell
row: 229 qty: 0 cost: 338517.485 bal: 662986.673 Sell
row: 230 qty: 0 cost: 338517.485 bal: 662986.673 Sell
row: 231 qty: 0 cost: 338517.485 bal: 662986.673 Sell
row: 232 qty: 0 cost: 338517.485 bal: 662986.673 Sell
row: 233 qty: 5379 cost: 662907.949 bal: 78.724 Buy
row: 234 qty: 5379 cost: 662907.949 bal: 78.724 Buy
row: 235 qty: 0 cost: 662907.949 bal: 645935.252 Sell
row: 236 qty: 0 cost: 662907.949 bal: 645935.252 Sell
row: 237 qty: 0 cost: 662907.949 bal: 645935.252 Sell
row: 238 qty: 0 cost: 662907.949 bal: 645935.252 Sell
row: 239 qty: 0 cost: 662907.949 bal: 645935.252 Sell

In [307]:
iterr=0
for i in stocks.index:
    iterr+=1
    print(iterr,i,stocks.loc[i,"s_0145"])

1 1991-02-01 00:00:00 nan
2 1991-03-01 00:00:00 nan
3 1991-04-01 00:00:00 nan
4 1991-05-01 00:00:00 nan
5 1991-06-03 00:00:00 nan
6 1991-07-01 00:00:00 nan
7 1991-08-01 00:00:00 nan
8 1991-09-03 00:00:00 nan
9 1991-10-01 00:00:00 nan
10 1991-11-01 00:00:00 nan
11 1991-12-02 00:00:00 nan
12 1992-01-02 00:00:00 nan
13 1992-02-03 00:00:00 nan
14 1992-03-02 00:00:00 nan
15 1992-04-01 00:00:00 nan
16 1992-05-01 00:00:00 nan
17 1992-06-01 00:00:00 nan
18 1992-07-01 00:00:00 nan
19 1992-08-03 00:00:00 nan
20 1992-09-01 00:00:00 nan
21 1992-10-01 00:00:00 nan
22 1992-11-02 00:00:00 nan
23 1992-12-01 00:00:00 nan
24 1993-01-04 00:00:00 nan
25 1993-02-01 00:00:00 nan
26 1993-03-01 00:00:00 nan
27 1993-04-01 00:00:00 nan
28 1993-05-03 00:00:00 nan
29 1993-06-01 00:00:00 nan
30 1993-07-01 00:00:00 nan
31 1993-08-02 00:00:00 nan
32 1993-09-01 00:00:00 nan
33 1993-10-01 00:00:00 nan
34 1993-11-01 00:00:00 nan
35 1993-12-01 00:00:00 nan
36 1994-01-03 00:00:00 nan
37 1994-02-01 00:00:00 nan
38 1994-03-01 00:00:00 nan
39 1994-04-04 00:00:00 nan
40 1994-05-02 00:00:00 nan
41 1994-06-01 00:00:00 nan
42 1994-07-01 00:00:00 nan
43 1994-08-01 00:00:00 nan
44 1994-09-01 00:00:00 nan
45 1994-10-03 00:00:00 nan
46 1994-11-01 00:00:00 nan
47 1994-12-01 00:00:00 nan
48 1995-01-03 00:00:00 nan
49 1995-02-01 00:00:00 nan
50 1995-03-01 00:00:00 nan
51 1995-04-03 00:00:00 nan
52 1995-05-01 00:00:00 nan
53 1995-06-01 00:00:00 nan
54 1995-07-03 00:00:00 nan
55 1995-08-01 00:00:00 nan
56 1995-09-01 00:00:00 nan
57 1995-10-02 00:00:00 nan
58 1995-11-01 00:00:00 nan
59 1995-12-01 00:00:00 nan
60 1996-01-02 00:00:00 nan
61 1996-02-01 00:00:00 nan
62 1996-03-01 00:00:00 nan
63 1996-04-01 00:00:00 nan
64 1996-05-01 00:00:00 nan
65 1996-06-03 00:00:00 nan
66 1996-07-01 00:00:00 nan
67 1996-08-01 00:00:00 nan
68 1996-09-03 00:00:00 nan
69 1996-10-01 00:00:00 nan
70 1996-11-01 00:00:00 nan
71 1996-12-02 00:00:00 nan
72 1997-01-02 00:00:00 nan
73 1997-02-03 00:00:00 nan
74 1997-03-03 00:00:00 nan
75 1997-04-01 00:00:00 nan
76 1997-05-01 00:00:00 nan
77 1997-06-02 00:00:00 1.5104169845581057
78 1997-07-01 00:00:00 1.515625
79 1997-08-01 00:00:00 2.416666984558105
80 1997-09-02 00:00:00 2.354166984558105
81 1997-10-01 00:00:00 4.020833015441895
82 1997-11-03 00:00:00 5.0729169845581055
83 1997-12-01 00:00:00 4.270833015441895
84 1998-01-02 00:00:00 4.958333015441895
85 1998-02-02 00:00:00 5.1979169845581055
86 1998-03-02 00:00:00 6.3541669845581055
87 1998-04-01 00:00:00 7.5104169845581055
88 1998-05-01 00:00:00 7.875
89 1998-06-01 00:00:00 7.1354169845581055
90 1998-07-01 00:00:00 19.02083206176757
91 1998-08-03 00:00:00 18.041667938232425
92 1998-09-01 00:00:00 13.325521469116213
93 1998-10-01 00:00:00 17.104167938232422
94 1998-11-02 00:00:00 21.83333206176757
95 1998-12-01 00:00:00 34.91666793823242
96 1999-01-04 00:00:00 59.15625
97 1999-02-01 00:00:00 57.9375
98 1999-03-01 00:00:00 66.5
99 1999-04-01 00:00:00 85.5
100 1999-05-03 00:00:00 75.46875
101 1999-06-01 00:00:00 52.90625
102 1999-07-01 00:00:00 61.1875
103 1999-08-02 00:00:00 47.0
104 1999-09-01 00:00:00 59.53125
105 1999-10-01 00:00:00 77.25
106 1999-11-01 00:00:00 69.125
107 1999-12-01 00:00:00 85.0
108 2000-01-03 00:00:00 89.375
109 2000-02-01 00:00:00 67.4375
110 2000-03-01 00:00:00 65.875
111 2000-04-03 00:00:00 63.5625
112 2000-05-01 00:00:00 59.9375
113 2000-06-01 00:00:00 50.1875
114 2000-07-03 00:00:00 37.0
115 2000-08-01 00:00:00 30.25
116 2000-09-01 00:00:00 41.5
117 2000-10-02 00:00:00 35.875
118 2000-11-01 00:00:00 37.375
119 2000-12-01 00:00:00 24.625
120 2001-01-02 00:00:00 13.875
121 2001-02-01 00:00:00 16.25
122 2001-03-01 00:00:00 10.4375
123 2001-04-02 00:00:00 9.100000381469728
124 2001-05-01 00:00:00 16.889999389648438
125 2001-06-01 00:00:00 16.950000762939453
126 2001-07-02 00:00:00 14.529999732971191
127 2001-08-01 00:00:00 12.5
128 2001-09-04 00:00:00 8.59000015258789
129 2001-10-01 00:00:00 6.010000228881836
130 2001-11-01 00:00:00 6.949999809265137
131 2001-12-03 00:00:00 10.489999771118164
132 2002-01-02 00:00:00 10.960000038146973
133 2002-02-01 00:00:00 13.729999542236328
134 2002-03-01 00:00:00 15.390000343322754
135 2002-04-01 00:00:00 14.800000190734863
136 2002-05-01 00:00:00 16.489999771118164
137 2002-06-03 00:00:00 17.959999084472656
138 2002-07-01 00:00:00 13.550000190734863
139 2002-08-01 00:00:00 14.15999984741211
140 2002-09-03 00:00:00 14.600000381469728
141 2002-10-01 00:00:00 16.950000762939453
142 2002-11-01 00:00:00 19.799999237060547
143 2002-12-02 00:00:00 24.11000061035156
144 2003-01-02 00:00:00 19.56999969482422
145 2003-02-03 00:00:00 22.15999984741211
146 2003-03-03 00:00:00 21.809999465942383
147 2003-04-01 00:00:00 25.540000915527344
148 2003-05-01 00:00:00 28.65999984741211
149 2003-06-02 00:00:00 35.400001525878906
150 2003-07-01 00:00:00 37.25
151 2003-08-01 00:00:00 40.02999877929688
152 2003-09-02 00:00:00 47.33000183105469
153 2003-10-01 00:00:00 49.119998931884766
154 2003-11-03 00:00:00 56.7400016784668
155 2003-12-01 00:00:00 54.650001525878906
156 2004-01-02 00:00:00 51.900001525878906
157 2004-02-02 00:00:00 48.27000045776367
158 2004-03-01 00:00:00 42.970001220703125
159 2004-04-01 00:00:00 44.7400016784668
160 2004-05-03 00:00:00 44.40999984741211
161 2004-06-01 00:00:00 50.22999954223633
162 2004-07-01 00:00:00 52.560001373291016
163 2004-08-02 00:00:00 38.29999923706055
164 2004-09-01 00:00:00 38.2400016784668
165 2004-10-01 00:00:00 40.470001220703125
166 2004-11-01 00:00:00 35.099998474121094
167 2004-12-01 00:00:00 39.97999954223633
168 2005-01-03 00:00:00 44.52000045776367
169 2005-02-01 00:00:00 42.47999954223633
170 2005-03-01 00:00:00 35.38999938964844
171 2005-04-01 00:00:00 34.0099983215332
172 2005-05-02 00:00:00 33.099998474121094
173 2005-06-01 00:00:00 36.5
174 2005-07-01 00:00:00 32.90999984741211
175 2005-08-01 00:00:00 44.93000030517578
176 2005-09-01 00:00:00 41.84000015258789
177 2005-10-03 00:00:00 46.0099983215332
178 2005-11-01 00:00:00 40.369998931884766
179 2005-12-01 00:00:00 49.0
180 2006-01-03 00:00:00 47.58000183105469
181 2006-02-01 00:00:00 43.97999954223633
182 2006-03-01 00:00:00 37.119998931884766
183 2006-04-03 00:00:00 36.13999938964844
184 2006-05-01 00:00:00 34.59000015258789
185 2006-06-01 00:00:00 35.06999969482422
186 2006-07-03 00:00:00 38.61000061035156
187 2006-08-01 00:00:00 26.31999969482422
188 2006-09-01 00:00:00 31.76000022888184
189 2006-10-02 00:00:00 30.8700008392334
190 2006-11-01 00:00:00 37.560001373291016
191 2006-12-01 00:00:00 39.40999984741211
192 2007-01-03 00:00:00 38.70000076293945
193 2007-02-01 00:00:00 38.70000076293945
194 2007-03-01 00:00:00 38.84999847412109
195 2007-04-02 00:00:00 40.41999816894531
196 2007-05-01 00:00:00 62.040000915527344
197 2007-06-01 00:00:00 68.58000183105469
198 2007-07-02 00:00:00 69.61000061035156
199 2007-08-01 00:00:00 77.30999755859375
200 2007-09-04 00:00:00 82.69999694824219
201 2007-10-01 00:00:00 93.41000366210938
202 2007-11-01 00:00:00 87.6500015258789
203 2007-12-03 00:00:00 90.91000366210938
204 2008-01-02 00:00:00 96.25
205 2008-02-01 00:00:00 74.62999725341797
206 2008-03-03 00:00:00 62.43000030517578
207 2008-04-01 00:00:00 76.69999694824219
208 2008-05-01 00:00:00 79.36000061035156
209 2008-06-02 00:00:00 80.2300033569336
210 2008-07-01 00:00:00 73.62000274658203
211 2008-08-01 00:00:00 75.75
212 2008-09-02 00:00:00 81.41000366210938
213 2008-10-01 00:00:00 69.58000183105469
214 2008-11-03 00:00:00 55.77000045776367
215 2008-12-01 00:00:00 40.470001220703125
216 2009-01-02 00:00:00 54.36000061035156
217 2009-02-02 00:00:00 61.150001525878906
218 2009-03-02 00:00:00 61.9900016784668
219 2009-04-01 00:00:00 73.5
220 2009-05-01 00:00:00 78.95999908447266
221 2009-06-01 00:00:00 83.05000305175781
222 2009-07-01 00:00:00 81.5999984741211
223 2009-08-03 00:00:00 87.44000244140625
224 2009-09-01 00:00:00 79.16000366210938
225 2009-10-01 00:00:00 91.04000091552734
226 2009-11-02 00:00:00 118.83999633789062
227 2009-12-01 00:00:00 138.5
228 2010-01-04 00:00:00 133.89999389648438
229 2010-02-01 00:00:00 118.87000274658205
230 2010-03-01 00:00:00 124.54000091552734
231 2010-04-01 00:00:00 131.80999755859375
232 2010-05-03 00:00:00 137.49000549316406
233 2010-06-01 00:00:00 123.23999786376952
234 2010-07-01 00:00:00 110.95999908447266
235 2010-08-02 00:00:00 120.06999969482422
236 2010-09-01 00:00:00 132.49000549316406
237 2010-10-01 00:00:00 153.7100067138672
238 2010-11-01 00:00:00 162.5800018310547
239 2010-12-01 00:00:00 176.5500030517578

In [328]:
for i in range(5):
    endVal = strategyDF.iloc[i,0]+10000
    PL = endVal - 10000
    returns = ((endVal/10000)**(1/20) - 1)*100
    print(f"Stock #{(strategyDF.index[i]):<5} P&L: ${PL:,.2f} Annual Return:{returns:.2f}%")

Stock #145   P&L: $635,935.25 Annual Return:23.17%
Stock #1555  P&L: $301,095.53 Annual Return:18.75%
Stock #2052  P&L: $221,923.31 Annual Return:17.02%
Stock #2206  P&L: $218,792.72 Annual Return:16.94%
Stock #1862  P&L: $196,422.42 Annual Return:16.34%

20

In [289]:
Top5 = strategyDF.index[:5]

def rename(lst):
    a=[]
    for i in lst:
        x=str(i)
        if len(x)==2:
            x="s_00"+x
            a.append(x)
        elif len(x)==3:
            x="s_0"+x
            a.append(x)
        else:
            x="s_"+x
            a.append(x)
    
    return a


Top5 = rename(Top5)

In [290]:
val_df = pd.read_csv(md).drop("vix",axis=1)
val_df["Date"] = pd.to_datetime(val_df["Date"])
val_df = val_df.set_index("Date")
val_df = val_df[val_range[0]:val_range[1]]
val_df

,s_0000,s_0001,s_0002,s_0003,s_0004,s_0005,s_0006,s_0007,s_0008,s_0009,...,s_2579,s_2580,s_2581,s_2582,s_2583,s_2584,s_2585,s_2586,s_2587,s_2588
Date,,,,,,,,,,,,,,,,,,,,,
2010-01-04,20.461840,36.938263,4.496877,NaN,NaN,5.318474,38.662930,6.562588,NaN,38.200001,...,NaN,11.501429,2.95,1.78,NaN,NaN,NaN,NaN,NaN,12.360000
2010-01-05,20.239578,35.784649,5.005958,NaN,NaN,5.164161,38.433144,6.573934,NaN,40.310001,...,NaN,11.906957,3.05,1.70,NaN,NaN,NaN,NaN,NaN,12.290000
2010-01-06,20.167669,37.648201,4.798554,NaN,NaN,4.959297,38.768265,6.469369,NaN,38.630001,...,NaN,12.942341,3.08,1.70,NaN,NaN,NaN,NaN,NaN,12.680000
2010-01-07,20.141516,36.849533,4.939965,NaN,NaN,5.142877,38.758690,6.457407,NaN,38.950001,...,NaN,14.391890,3.04,2.22,NaN,NaN,NaN,NaN,NaN,14.660000
2010-01-08,20.134979,37.759125,4.845690,NaN,NaN,5.204072,38.911869,6.500339,NaN,39.270000,...,NaN,14.158920,3.10,2.12,NaN,NaN,NaN,NaN,NaN,14.730000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-23,116.631310,22.171579,15.890000,16.577030,9.00,65.023491,157.495850,130.347580,27.481012,55.750000,...,19.870001,42.675430,2.90,8.85,9.93,NaN,0.226,207.470001,158.974014,36.650002
2020-12-24,116.641243,21.912146,15.660000,16.606722,8.77,65.292725,158.870193,131.352829,27.813406,56.139999,...,20.180000,42.508686,2.88,8.81,9.91,NaN,0.229,205.270004,159.839264,36.009998
2020-12-28,117.158287,22.191536,16.059999,16.200956,8.93,66.429459,157.011383,136.050766,28.272888,54.830002,...,19.959999,42.528305,2.69,8.76,9.73,NaN,0.251,199.369995,161.500122,36.709999
2020-12-29,116.561714,21.991972,15.860000,16.745275,8.80,66.529175,154.925140,134.239273,27.705866,54.000000,...,19.530001,41.949623,2.59,8.43,9.61,NaN,0.243,197.839996,162.226105,36.610001
2020-12-30,116.720795,22.899990,16.150000,17.932884,8.60,66.299828,155.884232,133.094650,27.725418,54.610001,...,19.870001,42.390987,2.65,8.54,9.72,NaN,0.230,201.309998,163.369812,36.619999

In [291]:
sim = val_df.loc[:,Top5]

In [292]:
sim = sim.loc[sim.index.isin(TS.index)].join(TS)

In [293]:
sim

,s_0145,s_1555,s_2052,s_2206,s_1862,vix,HVM-12,DSI,MSI,TS
Date,,,,,,,,,,
2010-01-04,133.899994,96.160004,17.086140,13.355339,16.751551,20.04,28.570,Greedy,0,Sell
2010-02-01,118.870003,94.370003,15.928634,11.931488,14.612470,22.59,28.570,Greedy,0,Sell
2010-03-01,124.540001,90.669998,15.818738,14.121334,17.484974,19.26,28.570,Greedy,0,Sell
2010-04-01,131.809998,85.470001,16.139465,13.959122,18.652164,17.47,28.570,Greedy,0,Sell
2010-05-03,137.490005,76.089996,16.954233,15.716405,17.425470,20.19,28.570,Greedy,0,Sell
...,...,...,...,...,...,...,...,...,...,...
2020-08-03,3111.889893,123.660004,32.763863,144.897614,60.196865,24.28,14.865,Fearful,0,Buy
2020-09-01,3499.120117,148.820007,35.367496,144.670258,56.493301,26.12,14.865,Fearful,0,Buy
2020-10-01,3221.260010,148.960007,37.274185,150.241348,54.852787,26.70,14.865,Fearful,0,Buy
2020-11-02,3004.479980,166.570007,40.761539,140.383286,59.466114,37.13,14.865,Fearful,0,Buy
2020-12-01,3220.080078,324.000000,49.608864,142.747314,72.744896,20.77,14.865,Fearful,0,Buy

In [294]:
validation = simulation(10000,sim,Top5)

In [358]:
for i,v in enumerate(validation):
    endVal = v+10000
    returns = ((endVal/10000)**(1/10) - 1)*100
    print(f"Stock #{(sim.columns[i]):<5} P&L: ${v:>10,.2f} Annual Return:{returns:>5.2f}%")

Stock #s_0145 P&L: $ 12,917.06 Annual Return: 8.65%
Stock #s_1555 P&L: $  8,886.52 Annual Return: 6.57%
Stock #s_2052 P&L: $   -408.52 Annual Return:-0.42%
Stock #s_2206 P&L: $ 11,683.95 Annual Return: 8.05%
Stock #s_1862 P&L: $  9,517.56 Annual Return: 6.92%